{% extends "base.html" %}

{% block navbar1 %}
    <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'inicio' %}">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'nosotros' %}">Sobre Nosotros</a></li>
    <li class="nav-item"><a class="nav-link active" href="{% url 'contacto' %}">Contactanos</a></li>
    {% if request.user.is_authenticated %}
        <li class="nav-item"><a class="nav-link active" href="{% url 'perfil' %}">{{request.user.username}}</a></li>
        {% if request.user.datosextras.avatar %}
            <img src="{{ request.user.datosextras.avatar.url }}" alt="" height="35px">
        {% else %}
            <img class ="im-us" src="https://img.freepik.com/vector-premium/icono-perfil-usuario-estilo-plano-ilustracion-vector-avatar-miembro-sobre-fondo-aislado-concepto-negocio-signo-permiso-humano_157943-15752.jpg" alt="" height="35px">
        {% endif %}
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <li class="nav-item"><button type="submit" class="nav-link btn btn-link">Cerrar Sesión</button></li>
        </form>
    {% else %}
        <li class="nav-item"><a class="btn btn-primary btn-sm px-7 me-sm-3" href="{% url 'login' %}" style="font-size: 19px;">Iniciar Sesión</a></li>
    {% endif %}
{% endblock navbar1 %}

{{% block header1 %}
    <h1 class="display-5 fw-bolder text-white mb-2">Nuestro contacto</h1>
    <p class="lead text-white-50 mb-4">Este es nuestro WhatsApp:</p>
        <li class="lead text-white-50 mb-4">+54 11 3344-5566</li>
    <p class="lead text-white-50 mb-4">Y aca te dejamos nuestras redes:</p>
    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="https://www.facebook.com/Coderhouse" target="_blank">Facebook</a>
        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="https://www.instagram.com/coderhouse/" target="_blank">Instagram</a>
    </div>
{% endblock header1 %}}

{{% block features1 %}
{% endblock features1 %}}