{% extends "base.html" %}

{{% block navbar1 %}
    <li class="nav-item"><a class="nav-link active" aria-current="page" href={% url "inicior" %}>Home</a></li>
    <li class="nav-item"><a class="nav-link" href={% url "nosotros" %}>Sobre Nosotros</a></li>
    <li class="nav-item"><a class="nav-link" href={% url "contacto" %}>Contactanos</a></li>
    {% if request.user.is_authenticated %}
    <li class="nav-item"><a class="nav-link active" href={% url "perfil" %}>{{request.user.username}}</a></li>
        <img src={{request.user.datosextras.avatar.url}} alt="" height="35px">
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <li class="nav-item"><button type="submit" class="nav-link btn btn-link" >Cerrar Sesión</button></li>
    </form>
    {% else %}
    <a class="btn btn-primary btn-sm px-7 me-sm-3" href={% url "login" %} style="font-size: 19px;">Iniciar Sesión</a>
    {% endif %}
{% endblock navbar1 %}}




{{% block header1 %}
    <h1 class="display-5 fw-bolder text-white mb-2">Bienvenido a tu espacio de trabajo virtual</h1>
    <p class="lead text-white-50 mb-4">En MyWorkspace podras contar con una lista de todos los trabajadores y sus caracteristicas dentro de tu empresa.</p>
    </div>
{% endblock header1 %}}





{% block features1 %}
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <h2 class="h4 fw-bolder">Empleados registrados</h2>
                <p>Aqui podras acceder a todos los empleados registrados dentro de la empresa y modificar su informacion.</p>
                <a class="text-decoration-none" href={% url "lista" %}>
                    Avanzar
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                <h2 class="h4 fw-bolder">Crear empleados</h2>
                <p>Aqui podras agregar mas empleados y sus caracteristicas a tu lista.</p>
                <a class="text-decoration-none" href={% url 'crear_empleado' %}>
                    Avanzar
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            
        </div>
    </div>
</section>
{% endblock features1 %}