{% extends "base.html" %}



{{% block header1 %}
    <h1 class="display-5 fw-bolder text-white mb-2">Datos de {{empleado.nombre}} {{empleado.apellido}} </h1>
    <p class="lead text-white-50 mb-4"></p>
    <div class="lead text-white-50 mb-4">
            <li><b>Nombre:</b> {{empleado.nombre}}</li>
            <li><b>Apellido:</b> {{empleado.apellido}}</li>
            <li><b>Documento:</b> {{empleado.documento}}</li>
            <li><b>Localidad:</b> {{empleado.localidad}}</li>
            <li><b>Informacion:</b> {{empleado.informacion}}</li>
    </div>
    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
        <a class="btn btn-outline-light btn-lg px-4" href={% url "lista" %}>Volver atras</a>
    </div>
{% endblock header1 %}}

{% block features1 %}
{% endblock features1 %}